<head>
    <!-- Other meta tags and links -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
</head>
{% if page.callouts %}

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">
                    <section class="carousel">
                        <div class="column is-4 has-text-centered">
                            <a href="link_para_produto1">
                                <img src="blog-post-series.jpg" alt="Produto 1">
                            </a>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <a href="link_para_produto2">
                                <img src="images/santo_vaporwave.jpeg" alt="Produto 2">
                            </a>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <a href="link_para_produto2">
                                <img src="images/chess4.jpeg" alt="Produto 3">
                            </a>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <a href="link_para_produto2">
                                <img src="images/chess4.jpeg" alt="Produto 4">
                            </a>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <a href="link_para_produto2">
                                <img src="images/chess4.jpeg" alt="Produto 5">
                            </a>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <a href="link_para_produto2">
                                <img src="images/chess4.jpeg" alt="Produto 6">
                            </a>
                        </div>
                        <div class="column is-4 has-text-centered">
                            <a href="link_para_produto2">
                                <img src="ninja bunny.jpeg" alt="Produto 7">
                            </a>
                        </div>
                    </section>
                    <!-- Adicione mais colunas aqui para mais produtos -->
                </div>
            </div>
        </div>
    </section>
    <script src="slick/slick.js">

    </script>
</body>
{% endif %}